<div class="row">
  <ul class="inline-none">
    <li class="inline"><button class="btn btn-md btn-info" ng-click="prev()">Previous</button></li>
    <li class="inline"><a href="">All</a>&nbsp;|&nbsp;</li>
    <li class="inline"><a href="">Popular</a>&nbsp;|&nbsp;</li>
    <li class="inline"><a href="">Near Me</a>&nbsp;|&nbsp;</li>
    <li class="inline"><a href="">My Matches</a>&nbsp;|&nbsp;</li>
    <li class="inline"><a href="">Chatting</a></li>
    <li class="inline"><button class="btn btn-md btn-info" ng-click="next()">Next</button></li>
  </ul>
</div>
<div class="row">
  <div class="col-lg-4">
    <members></members>
  </div>
  <div class="col-lg-7">
    <div ui-view></div>
  </div>
</div>
