<div class="well well-lg top-down" ng-show="member">
  <div class="row">
    <div class="col-lg-4">
      <img ng-src="{{member.avatar}}" alt="member_picture" />
    </div>
    <div class="col-lg-8">
      <h4>{{ member.names.firstName }} {{ member.names.lastName }}</h4>
      <p>
        Username: {{ member.username }}
      </p>
      <p>
        Date of Birth: {{ member.dob | date:"MM/dd/yyyy" }} (~{{ member.dob | age }} years old)
      </p>
      <p>
        Gender: {{ member.gender | gender }}
      </p>
      <p>
        Interested in: {{ member.interestedIn | interested }}
      </p>
      <p>
        {{ member.email }}
      </p>
    </div>
  </div>
</div>
