/* add custom styles */
.navbar {
  border-radius: 0;
}

body {
  background-image: url('../images/denver_skyline.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size:cover;
}

.white-background {
  background-color: #D9230F;
  color: white;
  padding: 15px;
  margin-top: -20px;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.quote {
  height: 200px;
  margin: 25px;
}

.white {
  color: white;
}

cite {
  color: white;
}

.centered {
  background-color: white;
  height: 100%;
  width: 500px;
  margin: auto;
  margin-top: 150px;
}

.wide {
  width: 100%;
}

.well {
  background-color: rgba(96, 92, 92, 0.68);
  color: white;
}

.well h4 {
  color: white;
}

.inline-none {
  text-align: left;
  list-style-type: none;
}

li.inline {
  display: inline;
  color: white;
}

.inline a {
  color: white;
  text-decoration: none;
}
