/* add custom styles */
.navbar {
  border-radius: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  padding-bottom: 90px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, black); /* Standard syntax */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

footer.navbar {
  margin-bottom: 0;
  position: absolute;
}

.members {
  height: calc(650px - 50px);
  overflow: scroll;
}

.results {
  height: calc(650px - 120px);
  overflow: scroll;
}

.white-back {
  background-color: rgba(250, 250, 250, 0.62);
}

.white-behind {
  background-color: rgba(250, 250, 250, 0.62);
  margin-right: -100px;
}

.white-back label {
  color: black;
}

.white-back .form-control {
  color: black;
}

.white-background {
  background-color: #D9230F;
  width: 35%;
  padding: 50px;
  text-align: center;
  color: white;
  margin: auto;
}

.button {
  margin-top: 25px;
}

.middle {
  margin-left: 90px;
  height: 50%;
  width: 50%;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 25px;
}

.quote {
  height: 200px;
  margin: 25px;
}

.white {
  color: white;
}

cite {
  color: white;
}

.centered {
  background-color: white;
  height: 100%;
  width: 500px;
  margin: auto;
  margin-top: 150px;
}

.wide {
  width: 100%;
}

.well {
  background-color: rgba(96, 92, 92, 0.68);
  color: white;
}

.well h4 {
  color: white;
}

.inline-none {
  text-align: left;
  list-style-type: none;
  margin-left: 25px;
}

li.inline {
  display: inline;
  color: white;
}

.inline a {
  color: white;
  text-decoration: none;
}

.avatar {
  height: 128px;
  width: 128px;
}

.blue {
  color: #12cef0;
  font-weight: bold;
}

.red {
  color: red;
}

.black {
  color: black;
  font-weight: bold;
}

.pink {
  background-color: pink;
  color: black;
}

.overflow {
  overflow-y: scroll;
}

.messages {
  max-height: 225px;
  overflow: scroll;
}

.them {
  position: relative;
  width: 50%;
  background-color: seagreen;
  padding: 15px;
  right: 50%;
  left: 0;
  color: black;
  text-align: left;
}

.me {
  position: relative;
  width: 50%;
  background-color: lightblue;
  padding: 15px;
  right: 0;
  left: 50%;
  color: black;
  text-align: right;
}
