/* add custom styles */
.navbar {
  border-radius: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url('../images/denver_skyline.jpg');
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  padding-bottom: 70px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

footer.navbar {
  margin-bottom: 0;
  position: absolute;
}

.white-back {
  background-color: rgba(250, 250, 250, 0.62);
}

.white-behind {
  background-color: rgba(250, 250, 250, 0.62);
  margin-right: -100px;
}

.white-back label {
  color: black;
}

.white-back .form-control {
  color: black;
}

.white-background {
  background-color: #D9230F;
  width: 35%;
  padding: 50px;
  text-align: center;
  color: white;
  margin: auto;
}

.button {
  margin-top: 25px;
}

.middle {
  margin: 50px auto;
  height: 50%;
  width: 50%;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.quote {
  height: 200px;
  margin: 25px;
}

.white {
  color: white;
}

cite {
  color: white;
}

.centered {
  background-color: white;
  height: 100%;
  width: 500px;
  margin: auto;
  margin-top: 150px;
}

.wide {
  width: 100%;
}

.well {
  background-color: rgba(96, 92, 92, 0.68);
  color: white;
}

.well h4 {
  color: white;
}

.inline-none {
  text-align: left;
  list-style-type: none;
}

li.inline {
  display: inline;
  color: white;
}

.inline a {
  color: white;
  text-decoration: none;
}

.avatar {
  height: 128px;
  width: 128px;
}

.blue {
  color: #12cef0;
  font-weight: bold;
}

.red {
  color: red;
}

.black {
  color: black;
  font-weight: bold;
}

.pink {
  background-color: pink;
  color: black;
}

.overflow {
  overflow-y: scroll;
}
