  <div class="row">
    <button class="btn btn-lg btn-info" ng-show="showReset" ng-click="resetSearch()">New Search</button>
  </div>
    <div class="white-behind" ng-show="!searchResults">
      <form class="form-horizontal" ng-submit="searchFunc()">
        <br />
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1">
            <label for="username" class="form-control-label">Username</label>
            <input type="text" class="form-control" placeholder="john_doe1964" ng-model="search.username" />
          </div>
          <div class="col-lg-5">
            <label for="email" class="form-control-label">Email Address</label>
            <input type="text" class="form-control" placeholder="john.doe@email.com" ng-model="search.email" />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1">
            <label for="gender" class="form-control-label">Gender</label>
            <select ng-model="search.gender" class="form-control">
              <option value="" disabled selected>- Make a Selection -</option>
              <option value="0">Male</option>
              <option value="1">Female</option>
              <option value="2">Other</option>
              <option value="3">Declined to Answer</option>
            </select>
          </div>
          <div class="col-lg-5">
            <label for="age" class="form-control-label">Age</label>
            <div class="row">
              <div class="col-lg-5">
                <select ng-model="search.minAge" class="form-control overflow">
                  <option value="" disabled selected>- Low -</option>
                  <option value="{{age}}" ng-repeat="age in ages">{{age}}</option>
                </select>
              </div>
              <div class="col-lg-1">
                <h4 class="text-center">to</h4>
              </div>
              <div class="col-lg-5 col-lg-offset-1">
                <select ng-model="search.maxAge" class="form-control">
                  <option value="" disabled selected>- High -</option>
                  <option value="{{age}}" ng-repeat="age in ages">{{age}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-8 col-lg-offset-1">
            <label for="interested" class="form-contrl-label">Interested In</label>
            <br />
            <label class="checkbox-inline">
              <input type="checkbox" checklist-value="0" name="interested" checklist-model="search.interested">Males
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" checklist-value="1" name="interested" checklist-model="search.interested">Females
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" checklist-value="2" name="interested" checklist-model="search.interested">Males or Females
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" checklist-value="3" name="interested" checklist-model="search.interested">Friends Only
            </label>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-11 col-lg-offset-1">
            <label for="searchType" class="form-control-label">Search Type</label>
            <br />
            <label class="radio-inline">
              <input type="radio" value="false" ng-model="search.exclusive">Any of the above can match
            </label>
            <label class="radio-inline">
              <input type="radio" value="true" ng-model="search.exclusive">Everything above must match
            </label>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <button type="submit" class="btn btn-success btn-md wide">Submit</button>
          </div>
        </div>
        <br />
      </form>
      <div class="col-lg-10 col-lg-offset-1">
        <div class="alert alert-danger" ng-repeat="(key, error) in errors">
          <p class="text-center">{{ error.message }}</p>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="results" ng-show="searchResults">
        <div class="col-lg-3" ng-repeat="result in searchResults">
          <div class="row" ng-click="getOne(result.slug)">
            <img class="avatar" ng-src="{{result.avatar}}" alt="member_image" />
          </div>
          <div class="row">
            <p>{{ result.username }}</p>
          </div>
        </div>
      </div>
    </div>
